.head{
    height:70px;
    width: 100%;
    background-color:#fff;
    position: fixed;
    color: #9c9c9c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #cecdcd;
    top: 0;
    left:0;
    right:0;

}

main {
    background-color:#ecebeb;
    background-image: url(../images/background-image);
    height: 780px;

}
.Header {
    display: inline-block;
    height: 50px;
    width: 210px;
    background-color:#4aaaa5;
    color: white;
    left: 14%;
    position: absolute;
    text-align: center;
    padding: 10px;

    


}
.body{
    text-align:left;
    line-height: 1.65;
    background-color: #fff;
    border-color: #dddddd;
    color:#777777;
    height: 400px;
    width: 960px;
    font-family:Arial, Helvetica, sans-serif;
    border:1px solid #dddddd;
    margin: 40px auto;
    padding: 40px;
    position: relative;
    top: 10%;
}

img {
    float: left;
    padding: 10px;

}


.footer{
    height: 40px;
    width: 99%;
    position: fixed;
    background-color:#666666;
    color: lightgray;
    text-align: center;
    bottom: 0;
    border-top: 8px solid #4aaaa5;
    font-size: 12px;
    font-family: sans-serif;

}

.Information{
    font-family:Arial, Helvetica, sans-serif;
    float:right;
    margin: 10px;
    font-size: 15px;
    padding:10px;
    margin-right: 200px;
    
}


h2{ 
    top: 10px;
    color: #4aaaa5;
    text-align:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;

}

form{
    line-height: 1.9;
}

input{
    width:100%;
    height: 20px;
    
}
input[type=submit]{
    color:#fff;
    background-color:#4aaaa5;
    width: 80px;
    height: 20px;
    border:2px solid #dddddd;
    
}
input[type=submit]:hover {
    background-color: #e712d5;
  }

textarea{
    width:100%;
    height:120px;
}

#About, #Portfolio, #Contact {
    padding: 5px;
    border-right: 1px solid lightgray;
    display: inline-block;
    color: #9c9c9c;
   

}

 #About:hover{
     color:#e712d5;
     
 }
 #Portfolio:hover{
    color:#e712d5;
 }
 #Contact:hover{
    color:#e712d5;
 }


 #CityPicture:hover{
    
     -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 20px #ccc;
      opacity: 0.4;
   
 }
 #PeanutPicture:hover{
    -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 20px #ccc;
      opacity: 0.4;
 }
 #DogPicture:hover{
    -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 20px #ccc;
      opacity: 0.4;
 }


 a:link{
    text-decoration: none;
 }